<section class="container">
  <header class="title">
    <h1>Projetos</h1>
  </header>

  <section class="layout">
    <div class="projetos">

      <ul>
        <mat-card class="example-card">


          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Code Tech</mat-card-title>

          </mat-card-header>
          <div class="linguagens">
          <div class="S"><span>CSS</span></div>
          <div class="S"> <span>HTML</span></div>
          <div class="S"><span>JAVASCRIPT</span></div>
        </div>
          <mat-card-content>
            <p>
              Desenvolvi a Landing Page "Code Tech", um espaço virtual onde a magia da programação ganha vida.
               Utilizando as poderosas linguagens de programação como JavaScript, HTML e CSS, criamos uma experiência
                envolvente para apresentar serviços de programação de forma única.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button> <a href="https://codetech-beta.vercel.app/" target="_blank">Link</a></button>
        </mat-card-actions>

        </mat-card>





        <mat-card class="example-card">


          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>God of War Ragnarok</mat-card-title>

          </mat-card-header>
          <div class="linguagens">
            <div class="S"><span>SCSS</span></div>
            <div class="S"> <span>HTML</span></div>
            <div class="S"><span>JAVASCRIPT</span></div>
        </div>
          <mat-card-content>
            <p>
              Adentre o mundo épico de God of War Ragnarok
              através do site promocional que desenvolvi.
               Utilizando a sofisticada linguagem SCSS,
             esculpi uma experiência visualmente deslumbrante. Este projeto combina
              a arte da programação com a magia do jogo,
              proporcionando aos visitantes uma imersão única.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button> <a href="https://god-of-war-ragnarok-drab.vercel.app/" target="_blank">Link</a></button>
        </mat-card-actions>

        </mat-card>







        <mat-card class="example-card">


          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Agencia bancaria</mat-card-title>

          </mat-card-header>
          <div class="linguagens">
            <div class="S"><span>JAVA</span></div>
        </div>
          <mat-card-content>
            <p>
              Criei uma experiência simulada
               agência bancária com um aplicativo de console Java. Este projeto é mais do que
               ; é uma jornada interativa onde a programação se transforma em uma simulação realista
               de uma agência bancária, proporcionando uma experiência única de aprendizado e interação.Criei uma experiência simulada de agência bancária com um aplicativo de console Java. Este projeto é mais do que código; é uma jornada interativa onde a programação se transforma em uma simulação realista de uma agência bancária, proporcionando uma experiência única de aprendizado e interação.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button> <a href="https://github.com/GabrielAraujodev/Agencia-bancaria.java" target="_blank">Link</a></button>
        </mat-card-actions>

        </mat-card>


        <mat-card class="example-card">


          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Controle financeiro</mat-card-title>

          </mat-card-header>
          <div class="linguagens">
            <div class="S"><span>JAVASCRIPT</span></div>
            <div class="S"> <span>HTML</span></div>
            <div class="S"><span>CSS</span></div>
          </div>

          <mat-card-content>
            <p>
              Apresento o aplicativo de Controle Financeiro, uma ferramenta poderosa
               para dominar suas finanças pessoais. Desenvolvido com as habilidades
                mágicas de JavaScript, HTML e CSS, este aplicativo não é apenas sobre números,
               mas sobre empowerment financeiro. Transforme a gestão financeira em uma experiência
               intuitiva e eficaz.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button> <a href="https://gabrielaraujodev.github.io/controle-financeiro/" target="_blank">Link</a></button>
        </mat-card-actions>

        </mat-card>

      </ul>

    </div>
  </section>

  <div class="btn"><a href="https://github.com/GabrielAraujodev" target="_blank"> VER TODOS OS PROJETOS</a></div>
</section>
