<section class="container">

  <div class="title">
    <h1>Projetos</h1>
  </div>
  <section class="layout">
    <div class="projetos">

      <ul>
        <li *ngFor="let project of projects">
          <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title>{{ project.title }}</mat-card-title>
            </mat-card-header>
            <div class="linguagens">
              <div class="S" *ngFor="let tech of project.technologies">
                <span>{{ tech }}</span>
              </div>
            </div>
            <mat-card-content>
              <p>
                {{ project.description }}
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button> <a [href]="project.link" target="_blank">Link</a></button>
            </mat-card-actions>
          </mat-card>
        </li>
      </ul>

    </div>
  </section>

  <div class="btn">
    <a href="https://github.com/GabrielAraujodev" target="_blank"> VER TODOS OS PROJETOS</a>
 </div>

</section>