<section class="main">

    <div class="left">


    <header>
      <h1>SOFWARE DEVELOPER</h1>
      <h2>Gabriel</h2>
    </header>

    <article>
      <p>
        Estou em busca de oportunidades desafiadoras como desenvolvedor,
        onde posso aplicar e aprimorar minhas habilidades em programação,
        contribuindo para o desenvolvimento de soluções inovadoras e eficientes.
        Tenho uma paixão genuína por enfrentar desafios técnicos, aprender novas
        tecnologias e trabalhar em equipe para alcançar
        metas e entregas de alta qualidade no desenvolvimento de software.
      </p>
    <app-download-button
      class="btn"
      [fileUrl]="corriculo"
      [fileName]="'curriculo'"
    ></app-download-button>
  </article>
    </div>

      <div class="right">
        <img [src]="code" />
      </div>




</section  >

<section class="sobre">


<h3 class="title">Sobre</h3>

<p class="text">

  Sobre mim, tenho uma verdadeira paixão por tecnologia e
   programação, dedicando-me constantemente a aprimorar-me nessa área.<br> Meu objetivo é atuar como Desenvolvedor Full-Stack, onde posso contribuir com minhas competências e experiência para o sucesso dos projetos. <br>Sou
   um profissional comprometido e proativo, sempre em busca
   de novos desafios e aprendizados.<br>

  Acredito que meu entusiasmo pela tecnologia, combinado com
  minha habilidade técnica e mentalidade proativa, me tornam um candidato
  ideal para projetos inovadores. <br
  >Estou ansioso para contribuir efetivamente para o crescimento de equipes e para o sucesso de projetos desafiadores.
</p>
</section>
