<div class="contact-container">
  <div class="content">
    <h1>Vamos trabalhar juntos?</h1>
    <p>
      Estou sempre aberto a novas oportunidades e colaborações. Se você tem um projeto em mente ou apenas quer dizer olá, sinta-se à vontade para entrar em contato através dos links abaixo.
    </p>
    <div class="social-links">
      <a href="https://github.com/GabrielAraujodev" target="_blank" aria-label="GitHub">
        <mat-icon svgIcon="github"></mat-icon>
      </a>
      <a href="https://www.linkedin.com/in/gabriel-augusto-alves-de-araujo-98b89b23a/" target="_blank" aria-label="LinkedIn">
        <mat-icon svgIcon="linkedin"></mat-icon>
      </a>
      <a href="mailto:Gabrielalves6p@gmail.com" target="_blank" aria-label="Email">
        <mat-icon svgIcon="email"></mat-icon>
      </a>
    </div>
  </div>
</div>