
<div class="title">
  <h1>SOFWARE DEVELOPER</h1>
</div>


<div class=" imagens">
<ul>
  <li ><a href="https://github.com/GabrielAraujodev" target="_blank"> <img  [src]="image"></a> </li>
  <li ><a href="mailto:Gabrielalves6@gmail.com?subject=&body=" target="_blank"> <img  [src]="image1"></a> </li>
  <li ><a href="https://www.linkedin.com/in/gabriel-augusto-alves-de-araujo-98b89b23a/" target="_blank"> <img  [src]="image2"></a> </li>

</ul>

</div>

<div class="nome">
  <h2>GABRIEL AUGUSTO</h2>
</div>

<router-outlet></router-outlet>
